/*
  @font-face {
  font-family: "Google Sans Regular";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.ttf")  format("truetype");
}
*/
html {
  cursor: none;
  overflow: hidden;
  background: #000;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 25px;
  position: absolute;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  background: #000;
  color: #aaa;
  font-family: "Google Sans Regular";
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

/**
 * Default styles.
 */
.delphy {
  color: white;
  text-shadow: 1px 1px black;
  font-family: "Artemisia Bold Italic";
  font-weight: 50;
  font-size: .9em;
  letter-spacing: 0px;
  line-height: .6em;
  content: '\n';
  white-space: pre;
  text-decoration-line: normal;
/*  font-style: italic; */
}

.dimmed {
  color: white;
  text-shadow: 1px 1px black;
}

.normal {
  color: white;
  text-shadow: 1px 1px black;
}

.bright {
  color: white;
  text-shadow: 1px 1px black;
}

.xsmall {
  font-size: 15px;
  line-height: 20px;
  text-shadow: 1px 1px black;
}

.small {
  font-size: 20px;
  line-height: 25px;
  text-shadow: 1px 1px black;
}

.medium {
  font-size: 30px;
  line-height: 35px;
  text-shadow: 1px 1px black;
}

.large {
  font-size: 65px;
  line-height: 65px;
  text-shadow: 1px 1px black;
}

.xlarge {
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -3px;
  text-shadow: 1px 1px black;
}

.thin {
  font-weight: 100;
  text-shadow: 1px 1px black;
}

.light {
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.regular {
  font-weight: 400;
  text-shadow: 1px 1px black;
}

.bold {
  font-weight: 700;
  text-shadow: 1px 1px black;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

header {
  font-size: 15px;
  font-weight: 400;
  color: white;
}

sup {
  font-size: 50%;
  line-height: 50%;
}

/**
 * Module styles.
 */

.module {
  margin-bottom: 30px;
}

.region.bottom .module {
  margin-top: 30px;
  margin-bottom: 0;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Region Definitions.
 */

.region {
  position: absolute;
}

.region.fullscreen {
  position: absolute;
  top: -22px;
  left: -22px;
  right: -22px;
  bottom: -22px;
  pointer-events: none;
}

.region.fullscreen * {
  pointer-events: auto;
}

.region.right {
  right: 0;
  text-align: right;
}

.region.top {
  top: 0;
}

.region.top .container {
  margin-bottom: 25px;
}

.region.bottom .container {
  margin-top: 25px;
}

.region.top .container:empty {
  margin-bottom: 0;
}

.region.top.center,
.region.bottom.center {
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.region.top.right{
  text-shadow: 1px 1px black;

}
.region.top.left {
  left: 0;
  text-align: left;
}
.region.top.center {
  top: 100%;
}

.region.bottom {
  color: white;
  text-shadow: 1px 1px black;
  bottom: 0;
}

.region.bottom .container:empty {
  color: white;
  text-shadow: 1px 1px black;
  margin-top: 0;
}

.region.bottom.right{
  color: white;
  text-shadow: 1px 1px black;
  bottom: 100%
}

.region.bottom.center,
{
  color: white;
  text-shadow: 1px 1px black;
  bottom: 100%
}

.region.bottom.left {

  color: white;
  text-shadow: 1px 1px black;
  bottom: 100%

}
.region.bar {
  width: 100%;
  text-align: center;
}

.region.third,
.region.middle.center {
  zoom: 100%;
  width: 100%;
  text-align: center;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.region.upper.third {
  top: 33%;
}

.region.middle.center {
  top: 50%;
}

.region.lower.third {
  top: 66%;
}

.region.left {
  color: white;
  text-shadow: 1px 1px black;
  text-align: left;
}

.region table {
  color: white;
  text-shadow: 1px 1px black;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
